.propiedades-en-oferta {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-nav .nav-item .nav-link.active {
  color: #EDE547;
}

.nav-link {
  color: #51ae32;
}
.nav-link:hover {
  color: #EDE547;
}

.nav-link.active, .nav-link:active {
  color: #EDE547;
}

.yellow-bg {
  background-color: #EDE547;
  color: #51ae32;
  font-weight: 800;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.yellow-bg:hover {
  background-color: #51ae32;
  color: #EDE547;
}
